<div id="header-container">
  <div id="logo-container">
    <a href="">
      <img ng-src="img/logo-top.png"/>
    </a>
  </div>
  <div id="header-right-container">
    <div id="header-search">
      <input id="s" class="triton-autocomplete" type="text" name="s" 
            value="" placeholder="Quick Search" data-group="search">
    </div>
    <div id="header-right-icons">
      <img ng-src="img/prototype/header-right-icons.png"/>
    </div>
    <div id="header-user-menu-button">
      <div class="name-text">Josh Kessler</div>
      <img class="arrow" ng-src="img/arrow-down.png"/>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
