<div id="secondary-navigation-container">
  <div class="secondary-texts">
    <span class="big-title">{{navigation.title}}</span>
    <span class="subtitle">{{navigation.subtitle}}</span>
  </div>
  <div class="secondary-controls">
    <input type="button" value="{{navigation.actionSecond.value}}" id="cancel-top" class="button-top" ng-click="navigation.actionSecond.action()">
    <input type="button" value="{{navigation.actionMain.value}}" id="submit-top" class="button-top" ng-click="navigation.actionMain.action()">
  </div>
</div>