<!--script type="text/ng-template" id="header.html"></script-->
<ng-include src="navHeader.url"></ng-include>
<div class="view-master-container">
  <div class="form-field-group-container size-p-100 last">
    <!-- Table. -->
    <table class="table table-bordered table-hover table-triton">
      <thead>
        <tr>
          <th ng-repeat="field in tableView">{{ field.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="dataRow in dataList | filter:query | orderBy:orderProp">
          <td ng-repeat="field in tableView">
            <a href="{{rowUrl}}{{dataRow.id}}">
              <img ng-if="field.type=='image'" ng-src="{{ dataRow.imageUrl }}" class="image-small-50">
              {{ dataRow[field.name] }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Pager -->
    <nav>
      <ul class="pagination">
        <li>
          <a href="" aria-label="Previous" ng-click="loadListPage(pager.before)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!--li ng-repeat="page in pager.pages"-->
        <li 
          ng-repeat="i in getFixedIterator(pager.total_pages) track by $index"
          ng-class="{active: $index+1==currentPage}"
        >
          <a ng-click="loadListPage($index+1)">{{ $index+1 }}</a>
        </li>
        <li>
          <a href="" aria-label="Next" ng-click="loadListPage(pager.next)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
